
  <div class="content-box">
    <div class="box-1">
      <h2 class="titulo-trabalho">
        Análise sensorial de preparações funcionais desenvolvidas para escolares
        entre 09 e 15 anos, do município de Campinas/SP
      </h2>
      <div>
        <img src="../assets/tela-video.png" alt="imagem estatica de um video" />
      </div>
    </div>
    <div class="box-2">
      <div class="buttons-box1">
        <button>
          <img src="../assets/download.png" alt="icone download" />Download
        </button>
        <button>
          <img src="../assets/favoritar.png" alt="icone estrela" />
        </button>
        <button>
          <img src="../assets/doi.png" alt="icone doi" />
        </button>
      </div>
      <h2 class="citacao">COMO CITAR ESSE TRABALHO?</h2>
      <div class="box-detalhe">
        <div class="titulo-box">Detalhes</div>
        <div class="conteudo-detalhe">
          <div class="apresentacao">
            <p>
              Tipo de Apresentação:
              <b>Pôster</b>
            </p>
            <p>
              Eixo temático:
              <b>Alimentação e saúde (AS)</b>
            </p>
            <p>
              Palavras-chaves:
              <b>Alimentos funcionais, alimentação escolar.</b>
            </p>
          </div>
          <div class="autores">
            <p><b> Autores </b></p>
            <p>Galileo Galilei¹</p>
            <p>Berta Lange de Morretes²</p>
            <p>Isaac Newton³</p>
            <p>Cesar Lattes¹</p>
            <p>Stephen Hawking⁴</p>
          </div>
          <div class="universidades">
            ¹Universidade Estadual de Campinas ²Universidade de São Paulo
            ³Instituto Nacional de Pesquisas Espaciais ⁴Universidade Federal do
            Rio de Janeiro
          </div>
        </div>
      </div>
    </div>
  </div>
