.answered-topic {
  height: 9rem;
  margin: 12px;
  padding: 12px;
  box-shadow: 0px 0px 8px 0px #0000001f;
  border: 1px solid #e7e7e7;
  display: flex;
  flex-direction: column;
  gap: 12px;

  .ops-topic-subject {
    margin: 0;
    font-family: Quicksand;
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    text-align: left;
    color: #ed7839;
  }

  .nome-autor {
    margin: 0;
    font-family: Quicksand;
    font-size: 12px;
    font-weight: 500;
    line-height: 15px;
    text-align: left;
    color: #5c5c5c;
  }
  .pergunta {
    margin: 0;
    height: 35px;
    font-family: Quicksand;
    font-size: 14px;
    font-weight: 400;
    line-height: 17.5px;
    text-align: left;
    color: #4d4d4d;
  }

  .info-discussao {
    color: #757575;
    font-family: Segoe UI;
    font-size: 14px;
    font-weight: 350;
    text-align: left;
  }

  .box-btn-infos {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 18px;
  }

  .btn-favoritar {
    width: 27px;
    height: 19px;
    justify-content: center;
    padding: 0;
    background-color: #ed7839;
  }
}



button {
  background-color: #ed7839;
  color: #ffffff;
  border-radius: 4px;
  border: none;
  height: 2.5rem;
  padding: 0 12px;
  display: flex;
  align-items: center;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  line-height: 18.75px;
  text-align: center;

  &:hover {
    cursor: pointer;
    background-color: #ff833f;
  }
}
