<div class="answered-topic" (click)="mostrarRespostas()">
  <h4 class="ops-topic-subject">{{ assunto }}</h4>
  <p class="nome-autor">{{ assunto }}</p>
  <p class="pergunta">{{ pergunta }}</p>
  <div class="box-btn-infos">
    <button style="background-color: transparent">
      <img
        src="../assets/mais-informacoes.png"
        alt="icone tres pontos na vertical"
      />
    </button>
    <button class="btn-favoritar">
      <img
        src="../assets/favoritar.png"
        alt="icone estrela"
        style="width: 14px; height: 14px"
      />
    </button>
    <p class="info-discussao">1 like</p>
    <p class="info-discussao">1 resposta</p>
  </div>
</div>
<app-card-resposta *ngIf="mostrarResposta"></app-card-resposta>
