<div class="content-container">
  <div class="content-box">
    <div class="box-1">
      <h2 class="titulo-trabalho">
        Análise sensorial de preparações funcionais desenvolvidas para escolares
        entre 09 e 15 anos, do município de Campinas/SP
      </h2>
      <div>
        <img src="../assets/tela-video.png" alt="" />
      </div>
    </div>
    <div class="box-2">
      <div class="buttons-box1">
        <button>
          <img src="../assets/download.png" alt="icone download" />Download
        </button>
        <button>
          <img src="../assets/favoritar.png" alt="icone estrela" />
        </button>
        <button>
          <img src="../assets/doi.png" alt="icone doi" />
        </button>
      </div>
      <h2 class="citacao">COMO CITAR ESSE TRABALHO?</h2>
      <div class="box-detalhe">
        <div class="titulo-detalhe">Detalhes</div>
        <div class="conteudo-detalhe">
          <div class="apresentacao">
            <p>
              Tipo de Apresentação:
              <b>Pôster</b>
            </p>
            <p>
              Eixo temático:
              <b>Alimentação e saúde (AS)</b>
            </p>
            <p>
              Palavras-chaves:
              <b>Alimentos funcionais, alimentação escolar.</b>
            </p>
          </div>
          <div class="autores">
            <p><b> Autores </b></p>
            <p>Galileo Galilei¹</p>
            <p>Berta Lange de Morretes²</p>
            <p>Isaac Newton³</p>
            <p>Cesar Lattes¹</p>
            <p>Stephen Hawking⁴</p>
          </div>
          <div class="universidades">
            ¹Universidade Estadual de Campinas ²Universidade de São Paulo
            ³Instituto Nacional de Pesquisas Espaciais ⁴Universidade Federal do
            Rio de Janeiro
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="box-conteudo">
    <div class="titulo-detalhe">Resumo</div>
    <div class="box-resumo">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus vitae
      turpis auctor, mollis felis ut, commodo turpis. Phasellus felis mauris,
      egestas eget cursus et, iaculis quis lacus. Fusce auctor eros sed magna
      ultricies gravida. Etiam aliquam dictum nisl, vel aliquet enim accumsan
      sit amet. Donec finibus nisi tellus, ut viverra lorem vestibulum ut.
      Phasellus condimentum orci id leo condimentum lobortis et non lorem. Sed
      id nisl metus. Quisque sollicitudin ligula in sapien scelerisque, ac
      gravida eros vestibulum Phasellus condimentum orci id leo condimentum
      lobortis et non lorem. Sed id nisl metus. Quisque sollicitudin ligula in
      sapien scelerisque, ac gravida eros vestibulum. Etiam aliquam dictum nisl,
      vel aliquet enim accumsan sit ametl accumsant...<p>ver mais</p>
    </div>
  </div>
  <div class="box-conteudo">
    <div class="titulo-detalhe">Discussões</div>
    <div class="box-discusao">
      <h5 class="informativo-discussao">
        Compartilhe suas ideias ou dúvidas com os autores!
      </h5>
      <div class="box-icone">
        <img src="../assets/icone1.png" alt="icone de uma mao com uma planta" />
        <img
          src="../assets/icone2.png"
          alt="icone de dois baloes de conversa"
        />
        <img
          src="../assets/icone3.png"
          alt="icone de duas pessoas conversando"
        />
      </div>
      <div class="frase-discussao">
        <p>
          Sabia que o maior estímulo no desenvolvimento científico e cultural é
          a curiosidade? Deixe seus questionamentos ou sugestões para o autor!
        </p>
      </div>
    </div>
    <div style="margin: 30px 12px 32px 12px">
      <div class="divisoria">
        <button class="btn-criar-topico">
          <img
            src="../assets/icon-mais.png"
            alt="icone com o simbolo de mais"
          />
          criar tópico
        </button>
      </div>
    </div>

    <div class="card-discusao">
      <h5 class="titulo-pergunta">Assunto da pergunta aparece aqui</h5>
      <p class="nome-autor">Carlos Henrique Santos</p>
      <p class="pergunta">
        Comecinho da pergunta aparece aqui resente relato inscreve-se no campo
        da análise da dimensão e impacto de processo formativo situado impacto
        de processo formativo processo...
      </p>
      <div class="box-btn-infos">
        <button style="background-color: transparent">
          <img src="../assets/mais-informacoes.png" alt="" />
        </button>
        <button class="btn-favoritar">
          <img
            src="../assets/favoritar.png"
            alt="icone estrela"
            style="width: 14px; height: 14px"
          />
        </button>
        <p class="info-discussao">1 like</p>
        <p class="info-discussao">1 resposta</p>
      </div>
    </div>

    <div class="card-discusao">
      <h5 class="titulo-pergunta">Assunto da pergunta aparece aqui</h5>
      <p class="nome-autor">Carlos Henrique Santos</p>
      <p class="pergunta">
        Comecinho da pergunta aparece aqui resente relato inscreve-se no campo
        da análise da dimensão e impacto de processo formativo situado impacto
        de processo formativo processo...
      </p>
      <div class="box-btn-infos">
        <button style="background-color: transparent">
          <img src="../assets/mais-informacoes.png" alt="" />
        </button>
        <button class="btn-favoritar">
          <img
            src="../assets/favoritar.png"
            alt="icone estrela"
            style="width: 14px; height: 14px"
          />
        </button>
        <p class="info-discussao">1 like</p>
        <p class="info-discussao">1 resposta</p>
      </div>
    </div>
  </div>
</div>
