<div class="content-container">
  <app-box-content></app-box-content>
  <div class="box-conteudo">
    <app-resumo></app-resumo>
  </div>
  <div class="box-conteudo">
    <div class="titulo-box">Discussões</div>
    <app-form-topico
      (enviarEvent)="enviar()"
      *ngIf="!mostrarCriar"
    ></app-form-topico>
    <app-criar-topico
      *ngIf="mostrarCriar"
      [mostrarMsgTopicoCriado]="mostrarMsgTopicoCriado"
      (criarTopicoEvent)="criarTopico()"
    ></app-criar-topico>

    <div class="answered-topic" *ngIf="mostrarCardCriado">
      <img src="../assets/check.png" alt="icone de check" style="width: 14px; height: 14px" />
      <p>Aguardando feedback dos autores</p>
      <a href="#">Editar tópico</a>
    </div>

    <div *ngFor="let discussao of discussoes; let i = index">
      <app-card
        [assunto]="discussao.assunto"
        [autor]="discussao.autor"
        [pergunta]="discussao.pergunta"
        [index]="i"
      >
      </app-card>
    </div>
  </div>
</div>
