<div class="box-form-topico">
  <h5 class="informativo">
    Tem uma dúvida ou sugestão? Compartilhe seu feedback com os autores!
  </h5>
  <form class="form-topico">
    <label> Assunto </label>
    <input
      class="subject"
      type="text"
      placeholder="Defina um tópico sucinto para notificar os autores..."
    />
    <label style="margin-top: 28px"> Conteúdo </label>
    <textarea class="text-area" rows="5" cols="10"></textarea>
    <div style="display: flex">
      <div class="suporte-botao"></div>
      <button class="btn-enviar" (click)="enviar()">Enviar</button>
    </div>
  </form>

  <div class="divisoria"></div>
</div>
