<div class="box-discusao">
  <h5 class="informativo">
    Tem uma dúvida ou sugestão? Compartilhe seu feedback com os autores!
  </h5>
  <form class="form-topico">
    <label> Assunto </label>
    <input
      class="input-text"
      type="text"
      placeholder="Defina um tópico sucinto para notificar os autores..."
    />
    <label style="margin-top: 28px"> Conteúdo </label>
    <textarea class="text-area" rows="5" cols="10"></textarea>
    <div style="display: flex">
      <div class="suporte-botao"></div>
      <button class="btn-enviar">Enviar</button>
    </div>
  </form>

  <div style="border-top: solid 1px #e7e7e7; margin: 12px; width: 100%"></div>
</div>
