<div class="box-discusao">
  <p class="informativo-discussao">
    Tem uma dúvida ou sugestão? Compartilhe seu feedback com os autores!
  </p>
  <div class="box-icone">
    <img src="../assets/icone1.png" alt="icone de uma mao com uma planta" />
    <img src="../assets/icone2.png" alt="icone de dois baloes de conversa" />
    <img src="../assets/icone3.png" alt="icone de duas pessoas conversando" />
  </div>
  <div class="frase-discussao">
    <p>
      Sabia que o maior estímulo no desenvolvimento científico e cultural é a
      curiosidade? Deixe seus questionamentos ou sugestões para o autor!
    </p>
  </div>
</div>
<div style="margin: 30px 12px 32px 12px">
  <div class="divisoria">
    <button class="btn-create-topic">
      <img src="../assets/icon-mais.png" alt="icone com o simbolo de mais" />
      criar tópico
    </button>
  </div>
</div>
