<div class="box-criar-topico">
  <p class="informativo-discussao">
    {{
      mostrarMsgTopicoCriado
        ? "Seu tópico foi enviado com sucesso! :D"
        : "Tem uma dúvida ou sugestão? Compartilhe seu feedback com os autores!"
    }}
  </p>
  <div class="box-icone" *ngIf="!mostrarMsgTopicoCriado">
    <img src="../assets/icone1.png" alt="icone de uma mao com uma planta" />
    <img src="../assets/icone2.png" alt="icone de dois baloes de conversa" />
    <img src="../assets/icone3.png" alt="icone de duas pessoas conversando" />
  </div>
  <div class="frase-discussao" *ngIf="!mostrarMsgTopicoCriado">
    <p>
      Sabia que o maior estímulo no desenvolvimento científico e cultural é a
      curiosidade? Deixe seus questionamentos ou sugestões para o autor!
    </p>
  </div>
  <div class="box-icone" style="width: 100%" *ngIf="mostrarMsgTopicoCriado">
    <p>
      Agradecemos por sua contribuição, uma notificação será enviada ao seu
      email assim que seu tópico for respondido!
    </p>
  </div>

  <div class="box-icone" *ngIf="mostrarMsgTopicoCriado">
    <a href="#"> Descubra outros trabalhos! </a>
  </div>
  <div style="margin: 30px 12px 32px 12px">
    <div class="divisoria">
      <button class="btn-create-topic" (click)="criarTopico()">
        <img
          src="../assets/icon-mais.png"
          alt="icone com o simbolo de mais"
          *ngIf="!mostrarMsgTopicoCriado"
          style="margin-right: 5px"
        />
        {{ mostrarMsgTopicoCriado ? "criar novo topico" : "criar tópico" }}
      </button>
    </div>
  </div>
</div>
