.box-criar-topico {
  padding: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.informativo-discussao {
  margin: 0;
  font-family: Roboto;
  font-size: 18px;
  font-weight: 700;
  color: #ed7839;
}

.box-icone {
  display: flex;
  justify-content: center;
  gap: 4rem;

  p {
    margin: 0;
    width: 100%;
    font-family: Quicksand;
    font-size: 14px;
    font-weight: 400;
    color: #595959;
    text-align: center;
  }

  a {
    font-family: Quicksand;
    font-size: 14px;
    font-weight: 500;
    text-align: center;
    color: #ed7839;
  }
}

.btn-create-topic {
  background: linear-gradient(180deg, #feb254 0%, #f0813d 100%);
  width: auto;
  height: 2rem;
  padding: 0 12px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 2px;
  border: none;
  font-family: Roboto;
  font-size: 16px;
  color: #ffffff;

  &:hover {
    cursor: pointer;
    background: linear-gradient(180deg, #eea64e 0%, #fc8840 90%);
  }
}
